footer {
    padding: 5%;
    background: #222222;
    &.flex-container {
        justify-content: space-between;
        color: white;
    }
    a {
        color: white;
        text-decoration: none;
    }
}