header {
    background: url(../img/bg_header.png) no-repeat;
    background-size: cover;
    nav {
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        justify-content: space-between;
        .logo {
            padding: 10px;
        }
        .btn-menu-mobile {
            display: none;
        }
        .navigation {
            align-content: center;
            a {
                color: white;
                text-decoration: none;
                .navigation-item {
                    height: calc(100% - 5px);
                    margin: 0 20px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    span {
                        text-align: center;
                    }
                    &:before {
                        content: "";
                        width: 100%;
                        height: 5px;
                        background: #11749e;
                        transform-origin: center 0 0;
                        position: absolute;
                        bottom: -5px;
                        transform: scaleX(0);
                    }
                    &.selected {
                        &:before {
                            transform: scaleX(1);
                        }
                    }
                    &:hover {
                        &:before {
                            transform: scaleX(1);
                            transition: all .5s;
                        }
                    }
                }
            }
        }
        .social {
            justify-content: center;
            align-items: center;
            .fab {
                color: white;
                padding: 10px;
                cursor: pointer;
                &:hover {
                    color: #11749e;
                    transition: color .5s;
                }
            }
        }
    }
    .header__text {
        text-align: center;
        padding: 10% 0;
        h1,
        h3 {
            font-family: "Gotham-Pro";
            font-weight: bold;
            text-transform: uppercase;
        }
        h1 {
            font-size: 12vw;
            color: white;
        }
        h3 {
            font-size: 2vw;
            color: #11749e;
            letter-spacing: 1.4vw;
        }
    }
    .header__scroll-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        .header__scroll-down--icon {
            width: 80px;
            height: 80px;
            border: 3px solid white;
            border-radius: 100%;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -13px) rotate(-45deg);
                width: 10px;
                height: 10px;
                border-left: 5px solid white;
                border-bottom: 5px solid white;
                border-top: 5px solid transparent;
                border-right: 5px solid transparent;
                animation: animscroll 4s .5s ease-out infinite
            }
        }
        .header__scroll-down--text {
            color: white;
            padding: 5px 0;
        }
    }
    @media (max-width: 1024px) and (min-width: 768px) {
        nav .navigation a .navigation-item {
            margin: 0 1vw;
        }
    }
    @media (max-width: 768px) {
        nav {
            position: relative;
            flex-direction: row-reverse;
            .btn_menu_mobile {
                display: flex;
                align-items: center;
                cursor: pointer;
                .fa-bars {
                    font-size: 45px;
                    color: white;
                    pointer-events: none;
                }
                &.isOpen {
                    z-index: 1;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        background: #222;
                        height: 100px;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                }
            }
            .menu {
                display: none;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: calc(-100% + 100px);
                transform: translate(0, 100%);
                z-index: 999;
                .navigation {
                    flex-direction: column;
                    background: #222222;
                    .navigation-item {
                        padding: 20px 10px;
                        span {
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
                .social {
                    background: #222222;
                    i {
                        font-size: 35px
                    }
                }
            }
        }
    }
}

@keyframes animscroll {
    0% {
        top: 50%;
    }
    20% {
        top: calc(50% + 5px);
    }
    40% {
        top: 50%
    }
    60% {
        top: calc(50% + 5px);
    }
    80% {
        top: 50%
    }
    100% {
        top: 50%
    }
}