$blue: #11749e;
section {
    padding: 7%;
    &.feature {
        background-color: $blue;
        text-align: center;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: white;
            position: relative;
            margin: 10%;
            z-index: 2;
            &:before {
                content: 'W';
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 170px;
                color: rgba(255, 255, 255, .2);
                z-index: 1;
                transform: translate(-50%, -50%);
            }
        }
        .four-features {
            justify-content: space-between;
            .flex-item {
                flex-direction: column;
                width: calc(100% / 4 - 50px);
                .feature__round-icon {
                    background: rgba(255, 255, 255, .2);
                    border-radius: 100%;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    .fab,
                    .fas {
                        color: white;
                        font-size: 30px;
                        margin: auto;
                    }
                }
                .feature__title {
                    color: white;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: 20px 0;
                }
                .feature__text {
                    color: white;
                }
            }
        }
    }
    &.blog {
        padding: 0;
        .blog-post {
            .flex-item {
                width: calc(100% / 2);
                padding: 50px 80px;
            }
            &:nth-child(1) {
                .blog-post__text {
                    background: #222;
                    color: white;
                    width: 100%;
                    .date {
                        margin: 30px 0;
                    }
                    h2 {
                        font-size: 25px;
                        font-weight: 500;
                        margin: 30px 0;
                    }
                }
                .blog-post__photo {
                    background: url(../img/img-1.jpg) no-repeat;
                    background-size: cover;
                    width: 100%;
                }
            }
            &:nth-child(2) {
                .blog-post__text {
                    color: #222;
                    background: #f3f3f3;
                    width: 100%;
                    .date {
                        margin: 30px 0;
                    }
                    h2 {
                        font-size: 25px;
                        font-weight: 500;
                        margin: 30px 0;
                    }
                }
                .blog-post__photo {
                    background: url(../img/img-2.jpg) no-repeat;
                    background-size: cover;
                    width: 100%;
                }
            }
        }
    }
    &.other-blogpost {
        text-align: center;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: #222222;
            position: relative;
            margin: 10%;
            z-index: 2;
            &:before {
                content: 'B';
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 170px;
                color: rgba(34, 34, 34, .2);
                z-index: 1;
                transform: translate(-50%, -50%);
            }
        }
        h4 {
            color: #222222;
            font-size: 22px;
            font-weight: 100;
        }
        .other-blogpost__posts {
            justify-content: space-between;
            margin: 10% 0;
            .other-blogpost__post {
                width: calc(100% / 4 - 50px);
                height: 100%;
                .post-photo {
                    width: 100%;
                    height: auto;
                    img {
                        width: 100%;
                    }
                }
                .post-title {
                    color: $blue;
                    font-weight: 500;
                    margin: 20px 0;
                    text-transform: uppercase;
                }
            }
        }
    }
    &.comments {
        background: $blue;
        justify-content: space-between;
        .comments__comment {
            margin: 10% 0;
            width: calc(50% - 50px);
            .comments__comment-icon {
                color: white;
                margin-right: 20px;
                .far {
                    font-size: 60px;
                }
            }
            .comments__comment-text {
                color: white;
            }
        }
    }
    &.mobile-version {
        background: url(../img/bg_section.png) no-repeat;
        background-size: cover;
        .flex-container {
            justify-content: space-between;
            .flex-item {
                width: 40%;
                align-self: center;
            }
        }
        h4 {
            color: white;
            font-size: 3vw;
            font-weight: 500;
            margin-bottom: 10%;
            text-transform: uppercase;
        }
        .mobile-version__text {
            color: white;
            margin-bottom: 10%;
        }
        .mobile-version__text--blue {
            padding: 5px 10px;
            background: $blue;
            color: white;
            margin: 5% 0;
            text-transform: uppercase;
            font-weight: 500;
        }
        .iphone {
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
    &.our-team {
        text-align: center;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: #222222;
            position: relative;
            margin: 10%;
            z-index: 2;
            &:before {
                content: 'T';
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 170px;
                color: rgba(34, 34, 34, .2);
                z-index: 1;
                transform: translate(-50%, -50%);
            }
        }
        h4 {
            font-weight: 100;
            font-size: 22px;
            margin: 5% 0;
        }
        .flex-container {
            justify-content: space-between;
            .flex-item {
                width: calc(100% / 4 - 10px);
                height: 30vw;
                position: relative;
                &:nth-child(1) {
                    background: url(../img/img-6.jpg) center no-repeat;
                    background-size: cover;
                }
                &:nth-child(2) {
                    background: url(../img/img-7.jpg) center no-repeat;
                    background-size: cover;
                }
                &:nth-child(3) {
                    background: url(../img/img-8.jpg) center no-repeat;
                    background-size: cover;
                }
                &:nth-child(4) {
                    background: url(../img/img-9.jpg) center no-repeat;
                    background-size: cover;
                }
                .our-team__person-name {
                    background: white;
                    position: absolute;
                    bottom: 0px;
                    padding: 10px;
                    left: 50%;
                    transform: translate(-50%, 25px);
                    p {
                        &:nth-of-type(1) {
                            color: $blue;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    &.feedback {
        background: url(../img/bg_section2.png) no-repeat;
        background-size: cover;
        text-align: center;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: white;
            position: relative;
            margin: 10%;
            z-index: 2;
            &:before {
                content: 'C';
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 170px;
                color: rgba(255, 255, 255, .2);
                z-index: 1;
                transform: translate(-50%, -50%);
            }
        }
        .feedback__form {
            justify-content: space-between;
            input {
                width: calc(100% / 3 - 20px);
                background: none;
                color: white;
                border: 1px solid white;
                padding: 5px;
                outline: none;
                &::placeholder {
                    color: white;
                    opacity: .5;
                }
            }
        }
        textarea {
            width: 100%;
            height: 10vw;
            background: none;
            color: white;
            border: 1px solid white;
            padding: 5px;
            margin: 20px 0;
            outline: none;
            &::placeholder {
                color: white;
                opacity: .5;
            }
        }
        input[type="submit"] {
            background: $blue;
            color: white;
            text-transform: uppercase;
            font-size: 22px;
            padding: 20px 40px;
            border: none;
            cursor: pointer;
            transition: all .5s;
            &:hover {
                color: $blue;
                background: white;
            }
        }
    }
    &.map {
        padding: 0;
        margin: 0;
    }
    @media (max-width: 1024px) and (min-width: 768px) {
        &.feature {
            .four-features {
                flex-wrap: wrap;
                .flex-item {
                    width: calc(100%/2 - 20px);
                    margin-bottom: 20px;
                }
            }
        }
        &.other-blogpost {
            flex-wrap: wrap;
            .other-blogpost__posts {
                .flex-item {
                    width: calc(100%/2 - 20px)
                }
            }
        }
        &.other-blogpost {
            .other-blogpost__posts {
                flex-wrap: wrap;
                .flex-item {
                    width: calc(100%/2 - 20px);
                    margin-bottom: 20px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .flex-container {
            flex-direction: column;
            .flex-item {
                width: 100%;
                margin: 5%;
            }
        }
        &.feature {
            .four-features {
                .flex-item {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10%;
                }
            }
        }
        &.blog {
            .blog-post {
                .blog-post__text,
                .blog-post__photo {
                    margin: 0;
                    width: auto !important
                }
                &:nth-child(1) {
                    flex-direction: column-reverse;
                }
                .blog-post__photo {
                    height: 50vw;
                }
                .blog-post__text {
                    padding: 30px 30px;
                }
            }
        }
        &.other-blogpost {
            .other-blogpost__posts {
                .flex-item {
                    width: 100%;
                }
            }
        }
        &.comments {
            flex-direction: column;
            .flex-item {
                width: 100%;
                flex-direction: row;
                align-items: center;
            }
        }
        &.mobile_version {
            .flex-container {
                .flex-item {
                    width: 100%;
                }
            }
        }
        &.our-team {
            .flex-container {
                .flex-item {
                    width: 100%;
                    height: 82vw;
                    margin: 0;
                    margin-bottom: 10%;
                }
            }
        }
        &.feedback {
            .feedback_form {
                input {
                    width: 100%;
                    margin-bottom: 5%;
                }
            }
        }
    }
}

.btn-top {
    position: fixed;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.226);
    border-radius: 50%;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s;
    i {
        color: white;
        filter: contrast(0.5);
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.95);
    z-index: 2;
    width: 100%;
    height: 100%;
    color: $blue;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        animation: preloader 1.5s linear infinite;
        font-size: 68px;
    }
}

@keyframes preloader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}