@import "fonts.scss";
@import "header.scss";
@import "section.scss";
@import "footer.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";
* {
    margin: 0;
    font-family: 'Gotham-Pro';
    font-size: 16px;
}

.flex-container {
    display: flex;
}

.padding-page {
    padding-left: 4%;
    padding-right: 4%
}

@media (max-width: 768px) {
    * {
        font-size: 20px;
    }
}